export PATH=`pwd`/bin:`pwd`/.tools/bin:$PATH
export KUBECONFIG=`pwd`/.tools/kubeconfig
export EXAMPLE_TLS_CERT_FILE=`pwd`/.certs/reports-server/tls.crt
export EXAMPLE_TLS_PRIVATE_KEY_FILE=`pwd`/.certs/reports-server/tls.key